<nav class="flex-shrink-0 background-gradient">
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex items-center px-2 lg:px-0 xl:w-64">
                <div class="flex-shrink-0 flex items-center">
                    <img class="block h-4 w-auto" src="assets/images/kinexon.svg" alt="">
                </div>
            </div>

            <div class="flex-1 flex justify-center lg:justify-end">
                <div class="w-full px-2 lg:px-6">
                    <div class="relative focus-within:text-gray-400">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                            </svg>
                        </div>
                        <input name="filterBy" [(ngModel)]="filterBy" (ngModelChange)="updateFilterBy(filterBy)" id="filterBy" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 focus:outline-none focus:bg-white focus:ring-0 focus:placeholder-gray-400 focus:text-gray-900 sm:text-sm" placeholder="Search for Names, Car Brands, Phone Numbers, etc." type="search">
                    </div>
                </div>
            </div>

            <div class="hidden lg:block lg:w-80">
                <div class="flex items-center justify-end">
                    <div class="flex">
                        <a href="#" class="px-3 py-2 rounded-md text-sm font-medium text-white hover:text-white">Github Repo</a>
                    </div>

                    <div class="ml-4 relative flex-shrink-0">
                        <a href="https://www.linkedin.com/in/bastian-klett-0b0912193" target="_blank" rel="noreferrer noopener" class="bg-indigo-700 flex text-sm rounded-full text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <img class="h-8 w-8 rounded-full" src="assets/images/bastianklett.jpeg" alt="Link to Bastian Klett LinkedIn Profile">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
