<div class="hidden md:flex flex-col h-screen" id="app">
  
  <navigation [filterBy]="filterBy" (newFilterByEvent)="updateFilterByFromNavigation($event)"></navigation>

  <driver-list [drivers]="drivers" [filterBy]="filterBy" (updateDriverLocation)="loadDrivers()" (newUpdateHoveredDriverEvent)="updateLastHoveredDriver($event)" (newIsDriverDetailViewVisibileEvent)="updateIsDriverDetailViewVisible($event)"></driver-list>

  <div class="flex-1 min-w-0 xl:flex">
    <div class="h-full w-full" *ngIf="isGoogleMapsApiLoaded | async">

      <google-map [options]="options" class="h-full">
        <map-marker *ngFor="let driver of drivers | filter: filterBy" [position]="driver.location" [options]="getMarkerOptions(driver.driverName)"></map-marker>
      </google-map>

    </div>
  </div>

</div>

<div class="block md:hidden">
  <section class="py-12 bg-gray-50 h-screen md:py-20 lg:py-24">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="relative">
        <blockquote class="mt-10">
          <div class="max-w-3xl mx-auto text-center text-2xl leading-9 font-medium text-gray-900">
            <p>&ldquo;This is not the screen size you're looking for.&rdquo;</p>
          </div>
          <footer class="mt-8">
            <div class="md:flex md:items-center md:justify-center">
              <div class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center">
                <div class="text-base font-medium text-gray-900">- Obi-Wan Kenobi</div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </section>
</div>
