<div class="hidden md:flex flex-col h-screen" id="app">
  
  <navigation [filterBy]="filterBy" (newFilterByEvent)="updateFilterByFromNavigation($event)"></navigation>

  <driver-list [drivers]="drivers" [filterBy]="filterBy" (updateDriverLocation)="loadDrivers()" (newUpdateHoveredDriverEvent)="updateLastHoveredDriver($event)" (newIsDriverDetailViewVisibileEvent)="updateIsDriverDetailViewVisible($event)"></driver-list>

  <div class="flex-1 min-w-0 xl:flex">
    <div class="h-full w-full" *ngIf="isGoogleMapsApiLoaded | async">

      <google-map [options]="options" class="h-full">
        <map-marker *ngFor="let driver of drivers | filter: filterBy" [position]="driver.location" [options]="getMarkerOptions(driver.driverName)"></map-marker>
      </google-map>

    </div>
  </div>

</div>

<mobie-view-state></mobie-view-state>
